<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G23</title>
</head>
<body>
    <h1>welcome to G23</h1>
    <h1><%- finalName %></h1>
    <ul>
        <% for( let index = 0; index < fruits.length; index++ ) { %>
          <li> <%- fruits[index] %></li>
        <% } %>
    </ul>
    <h1><%= arpit.college %></h1>
</body>
</html>