<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>raghav is a bad student</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus obcaecati dicta debitis laudantium cumque nihil natus ipsam omnis amet vero. Deleniti eligendi possimus quas a dolor deserunt sapiente fugit aspernatur!</p>
</body>
</html>